# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
local.properties

# Android
*.apk
*.aab
*.ap_
*.dex
*.jks
*.keystore
captures/
.cxx/

# Android Studio / IntelliJ
.idea/*
!.idea/codeStyles/
!.idea/inspectionProfiles/
*.iml
*.iws
*.ipr

# OS
.DS_Store
Thumbs.db
